body {
	font-family: 'Merriweather', serif;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-weight: bolder;
	text-align: center;
}

#breadOptions {
	background-color: tan;
	margin: 10px;
	padding: 10px;
}

#meatOptions {
	background-color: #E30522;
	margin: 10px;
	padding: 10px;
}

#cheeseOptions {
	background-color: #F0E21D;
	margin: 10px;
	padding: 10px;
}

#veggieOptions {
	background-color: #5BCF3E;
	margin: 10px;
	padding: 10px;
}

#condimentOptions {
	background-color: #F08616;
	margin: 10px;
	padding: 10px;
}


button {
	margin: 10px;
	padding: 10px;
	font-size: 1em;
}

div {
	font-size: 3em;
}